.blocks {
    clear: both;
    height: auto;
    display: inline-block;
    &.blocks-1 {
        display: flex;
        justify-content: center;
        margin-top: -65px;
    }
    .block {
        background-image: url('../../assets/images/back.png');
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 260px;
        height: 273px;
        text-align: center;
        float: right;
        overflow: hidden;
        &:hover {
            img {
                opacity: 0.5;
                @include competability(transition,all 0.5s ease-in-out);
            }
        }
        &.large {
            background-image: url('../../assets/images/back-2.png');
            width: 305px;
            height: 340px;
            margin-top: -52px;
            &.small-screen {
                display: none;
            }
        }
        p {
            text-align: center;
        }
        a {
            display: inline-block;
            text-decoration: none;
        }
    }
}

@media (max-width: 767px) {
    .blocks.blocks-1, .block-2 {
        margin-top: 0;
        display: flex;
        justify-content: center;
        width: 100%;
        margin: auto;
     }
     .blocks {
         width: 100%;
     }
    .blocks .block {
        margin-top: 0;
        width: 130px;
        height: 146px;
        &.large.large-screen {
            display: none;
        }
        // &.small:last-child {
        //     margin-bottom: 25px;
        //     margin-right: 50%;
        //     transform: translateX(66px);
        //     margin-top: -134px;
        // }
        &.large.small-screen {
            display: flex;
            width: 100%;
            // margin-left: 50%;
            // transform: translateX(-50px);
            img {
                width: 100%;
            }
        }
        a {
            text-align: center;
        }
        img {
            width: 50px;
        }
    }
}